/* CSS Bootsrap Basic Style, designed by Triadi Prabowo
Version 1.0 Initial Build
Live build at http://www.triadiprabowo.com/
Under licensed of Creative Common Licence 4.0 International Non-Attribute
*/
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(font-awesome.min.css);
@font-face {
	font-family: 'Lobster';
	src: url(../fonts/Lobster-Regular.ttf);
}

/* Global Style Configuration */
* {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;	
	font-size: 100%;
	background-color: #101010;
	height: 100%;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 13px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.5); 
    background: #222;
}

/* Text Selection Styling */
::-moz-selection { background: #005B5A; }
::selection { background: #005B5A; }

/* Hyperlink styling */
a {
	color: #6B6B6B;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a:visited {
	color: #6B6B6B;
}

a:hover {
	color: #0092A5;
}

a:active {
	color: #006F77;
}

/* Heading Tags */
h1 {
	font-family: 'Lobster';
	font-weight: 400;
	font-size: 2.3em;
	color: #555;
}

h2 {
	font-family: 'Lobster';
	font-weight: 400;
	font-size: 2.15em;
	color: #555;	
}

h3 {
	font-family: 'Lobster';
	font-weight: 400;
	font-size: 1.85em;
	color: #555;
}

h4 {
	font-family: 'Lobster';
	font-weight: 400;
	font-size: 1.75em;
	color: #555;
}

h5 {
	font-family: 'Lobster';
	font-weight: 400;
	font-size: 1.65em;
	color: #555;
}

h6 {
	font-family: 'Lobster';
	font-weight: 400;
	font-size: 1.55em;
	color: #555;
}

h1,h2,h3,h4,h5,h6 {
	text-shadow: 1px 3px 1px rgba(0,0,0,.5);
}

h1 > a:link, h2 > a:link, h3 > a:link, h4 > a:link, h5 > a:link, h6 > a:link {
	color: #6B6B6B;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

h1 > a:visited, h2 > a:visited, h3 > a:visited, h4 > a:visited, h5 > a:visited, h6 > a:visited {
	color: #6B6B6B;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
	color: #0092A5;
}

h1 > a:active, h2 > a:active, h3 > a:active, h4 > a:active, h5 > a:active, h6 > a:active {
	color: #006F77;
}

/* Paragraph */
p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 2em;
	color: #AFAFAE;
}

p > a:link {
	color: #6B6B6B;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

p > a:visited {
	color: #6B6B6B;
}

p > a:hover {
	color: #0092A5;
}

p > a:active {
	color: #006F77;
}

/* List */
ul {
	margin: 1em;
	list-style-type: none;
}

li {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	color: #888;
	line-height: 2em;
}

li > a:link {
	color: #6B6B6B;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

li > a:visited {
	color: #6B6B6B;
}

li > a:hover {
	color: #0092A5;
}

li > a:active {
	color: #006F77;
}

/* Misc */
b {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

em, i {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: italic;
}

html, div, section, header, footer {
	margin: 0;
	padding: 0;
}

table {
	border: none;
	border-collapse: none;
	vertical-align: baseline;
}

#separator {
	width: 100%;
	height: 4px;
	background-color: #444;
	margin: .75em 0;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

#clearfloat {
	clear: both;
}

#clearbot {
	clear: both;
}

.circleimg {
	border-radius: 100%;
	box-shadow: 2px 4px 1px 1px rgba(0,0,0,0.2);
	margin-top: 15px;
}

.imgnormal {
	position: relative;
	display: inline-block;	
	box-shadow: 2px 4px 1px 1px rgba(0,0,0,0.2);
	margin-top: 25px;
	right: 30px;
}

/* Pre-Load */
.tp-preload-pos {
	position: absolute;
	top: 35vh;
	left: 50vw;
	margin-left: -80px;
	text-align: center;
}

.tp-preload-pos p {
	display: block;
	margin-bottom: 1em;
}

.tp-preload {
	position: relative;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.tp-preload-canvas {
	width: 100%;
 	height: 100%;
  	position: relative;
  	-webkit-transform: translateX(0);
	transform: translateX(0);
	  
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	  
	-webkit-transition: 300ms ease all;
	transition: 300ms ease all;
	 
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Font Awesome Icon */
.tp-icon {
	font-family: 'FontAwesome';	
	display: inline-block;
	margin-right: 0.35em;
}

/* 
** tpBootstrap
** Styling => Header
** Version 1.0 - Dark Theme
*/
.tp-overall-header {
	position: relative;
	width: 100% auto;
	background-color: #101010;
	background: url(../img/ohbg.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	padding-bottom: 1em;
	overflow: hidden;
	-webkit-box-shadow: 0 3px 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 3px 1px 2px rgba(0,0,0,0.25);
	box-shadow: 0 3px 1px 2px rgba(0,0,0,0.25);
	z-index: 2;
}

.tp-header {
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 1em 0;
	background-color: rgba(24,24,24,0.8);	
	display: inline-block;
	clear: both;
}

.tp-header-lc {
	float: left;
}

.tp-headlogo {
	margin: .5em 1em;
}

.tp-header-rc {
	float: right;
}

.tp-header li > a:link {
	color: #BCBCBC;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.tp-header li > a:visited {
	color: #BCBCBC;
}

.tp-header li > a:hover {
	color: #0092A5;
}

.tp-header li > a:active {
	color: #006F77;
}

.tp-gfx-viewer {	
	position: relative;
	width: 100vw;
	padding: 2em 0;
	z-index: 1;
	display: block;
	transition: all 0.2s ease-in-out;
}

/* Dropdown Menu */
.tp-dropdown {
	display: inline-block;
}

.tp-dropdown li {
	display: inline-block;
	list-style-type: none;
	margin: .5em 1em;
}

.tp-dropdown li ul {
	visibility: hidden;
	background-color: rgba(38,38,38,0);
	padding: .75em 0;
	position: absolute;
	z-index: 3;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.tp-dropdown li ul li {
	display: block;
	padding: .35em .2em;
	color: rgba(136,136,136, 0);
}

.tp-dropdown li:hover ul {
	visibility: visible;	
	background-color: rgba(38,38,38,.8);
	margin: .15em;
}

/* 
** tpBootstrap
** Column Setup && Grid
** Version 1.0
*/
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { 
	margin: 0 auto; 
	width: 100%;
	text-align: center;
}

.tp-blocks {
	width: 23.8%;
	height: 160px;
	position: relative;
	background-color: transparent;	
	overflow: hidden;
}

.tp-blocks-description {
	visibility: visible;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 80px;
	background-color: rgba(24,24,24,0.8);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.tp-blocks-description p {
	font-family: 'Lobster', sans-serif;
	font-size: 1.35em;
	padding: 15px 0;
	color: #fff;
}

.tp-blocks img {
	width: 100%;
	height: auto;
}

.tp-blocks:hover .tp-blocks-description {
	background-color: rgba(24,24,24,0.25);
}

/* 
** $.tpSlider() jQuery Plugin
** CSS Styling Version 1.0
** Animation of Slider in tpScript Engine file
** Designed by Triadi Prabowo
** Version 1.0 - Dark Theme
*/
.tp-slider-wrapper {
	position: relative;
	display: block;
	-webkit-transition: height 1s ease;
	transition: height 1s ease;
	overflow: hidden;
}

.tp-slider-prev {
	position: absolute;
	display: block;
	left: 0;
	height: 240px;
	top: 0;
	color: #444;
	font-size: 4em;
	padding: 2.5em 0.35em;
	background: rgba(35,35,35, 0.1);
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
	cursor: pointer;
}

.tp-slider-prev:hover {
	color: #565656;
	background: rgba(35,35,35, 0.25);
}

.tp-slider-prev:active {
	background: rgba(35,35,35,0.35);
}

.tp-slider-next {
	position: absolute;
	display: block;
	right: 0;
	height: 240px;
	top: 0;
	color: #444;
	font-size: 4em;
	padding: 2.5em 0.35em;
	background: rgba(35,35,35, 0.1);
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;  /* Chrome all / Safari all */
 	-moz-user-select: none;     /* Firefox all */
 	-ms-user-select: none;      /* IE 10+ */
	cursor: pointer;
}

.tp-slider-next:hover {
	color: #565656;
	background: rgba(35,35,35, 0.25);
}

.tp-slider-next:active {
	background: rgba(35,35,35, 0.35);
}

.tp-slider-content {	
	position: relative;
	display: block;
	background-color: #101010;
	width: 80%;	
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	display: none;
}

.tp-slider-content-inner {
	padding: 2em;
	position: relative;
	margin: 0 auto 1em;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}

.tp-slider-content-inner h1,h2,h3,h4,h5,h6 {
	margin: 1em auto;
}

.tp-slider-content-inner p {
	line-height: 2em;
	margin-bottom: 1.75em;
}

.tp-slider-selector {
	position: relative;
	display: block;
	bottom: 0;
	left: 50%;
	margin-left: -5%;
	line-height: 1em;
	padding: 1em 0;
	z-index: 1;
}

.tp-slider-selector-o {
	border-radius: 100%;
	width: 14px;
	height: 14px;
	background: #fff;
	box-shadow: 2px 3px 1px 1px rgba(0,0,0,0.3);
	display: inline-block;
	margin: 0 .5em .5em;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

.tp-slider-selector-o.selected {
	background: #005864;
}

.tp-slider-selector-o:hover {
	background: #005864;
}

.tp-content-logo {
	padding: 4em 0 2em;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	.tp-slider-prev {		
		padding: 0;
		padding-left: 10px;
		height: auto;
		top: 40%;
		font-size: 3em;
	}

	.tp-slider-next {		
		padding: 0;
		padding-left: 10px;
		height: auto;
		top: 40%;
		font-size: 3em;
	}

	.tp-slider-content {
		width: 100%;
	}

	.tp-slider-content-inner .tp-button,.tp-slider-content-inner .tp-button.alt {
		display: block;
	}

	.tp-content-logo {
		padding: 1em 0;
	}

	.tp-content-logo img {
		width: 90%;
		height: auto;
	}

	.tp-slider-content-inner {
		margin: .25em auto .5em;
	}

	.tp-slider-selector {
		left: 25%;
		width: 80%;
	}
}

/* 
** tpBootstrap
** Styling => content block
** Version 1.0
** Dark Theme
*/
.tp-content-wrapper {
	width: 100%;
	position: relative;
	z-index: 2;
	zoom: 1;
	display: block;
	background: #161616;
	overflow: hidden;
}

	.tp-content-wrapper.lowindex {
		z-index: 1;
	}

.tp-content-inner {
	width: 55%;
	padding: 2em;
	position: relative;
	display: block;
	overflow: hidden;
	text-align: justify;
	margin: 0 auto;
}

.tp-content-inner h1,h2,h3,h4,h5,h6 {
	margin: 1em auto;
}


.tp-content-inner p {
	line-height: 2em;
	margin-bottom: 1.25em;
}

.tp-content-inner li {
	line-height: 2em;
	color: #AFAFAE;
	font-size: 1em;
}

.titlecolor {
	color: #006D7F;
}

.txtheading {
	margin-top: 2em;
	color: #006D7F;
}

.txtsubheading {
	color: #888;
	border-bottom: 4px dashed #222;
	padding-bottom: .75em;
	text-shadow: 4px 2px 1px rgba(0,0,0,.4);
	font-size: 1.1em;
}

.txtnormal {
	font-size: 1em;
}

/* 
** tpBootstrap
** Styling => button
** Version 1.0
** Type: tp-button (Normal), tp-button tp-alt (Alternative)
*/
input[type="submit"],
input[type="reset"],
input[type="button"],
.tp-button {
	cursor: pointer;
	border-radius: 7px;
	background-color: #005864;
	color: #fff;
	text-align: center;
	line-height: 2em;
	padding: 1em 1.5em;
	margin: 1em;	
	text-decoration: none;
	white-space: nowrap;	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all 0.3s ease-in-out;
	box-shadow: 1px 2px 1px 1px rgba(0,0,0,.25);
	outline: 0;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.tp-button:hover {
	color: #fff;
	background-color: #004851;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.tp-button:active {
	color: #fff;
	background-color: #00393F;
	box-shadow: 1px 2px 1px 1px rgba(0,0,0,.25), inset 0 0 10px rgba(0,0,0,.5);
}

input[type="submit"].tp-btn-alt,
input[type="reset"].tp-btn-alt,
input[type="button"].tp-btn-alt,
.tp-button.tp-btn-alt {
	cursor: pointer;
	border-radius: 7px;
	background-color: rgba(255,255,255,0.075);
	color: #fff;
	text-align: center;
	line-height: 2em;
	padding: 1.15em 1.5em;
	margin: 1em;	
	text-decoration: none;
	white-space: nowrap;	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all 0.2s ease-in-out;
	box-shadow: 1px 2px 1px 1px rgba(0,0,0,.25);
}

input[type="submit"].tp-btn-alt:hover,
input[type="reset"].tp-btn-alt:hover,
input[type="button"].tp-btn-alt:hover,
.tp-button.tp-btn-alt:hover {
	color: #fff;
	background-color: rgba(255,255,255,0.125);
}

input[type="submit"].tp-btn-alt:active,
input[type="reset"].tp-btn-alt:active,
input[type="button"].tp-btn-alt:active,
.tp-button-alt:active {
	color: #fff;
	background-color: rgba(255,255,255,0.135);
	box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.25), inset 0 0 5px rgba(0,0,0,.2);
}

/* 
** tpBootstrap
** Styling => Footer
** Page: all
** Version 1.0
*/
.tp-overall-footer {
	position: relative;		
	display: block;
	width: 100%;
	bottom: 0;		
	zoom: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: baseline;	
	z-index: 20;
}

.tp-footer {
	position: relative;
	width: 100%;
	padding: 2em 0;
	display: block;
	background: #121212;
	background-position: top;
	box-shadow: inset 0 10px 10px rgba(0,0,0,.1);
}

.tp-footer p {
	line-height: 2em;
	padding: .5em;
	font-size: 1em;
	text-align: center;
}

/* 
** $.tpBacktop() jQuery Plugin
** CSS Styling Version 1.0
** Size: Medium;
** Designed by Triadi Prabowo
*/
#tp-backtop {
	border-radius: 7px;
	padding: 1em 1em 1em 1.25em;
	line-height: 1em;
	position: fixed;
	display: block;
	bottom: 20px;
	right: 40px;
	background: rgba(50,50,50,.4);
	box-shadow: 2px 2px 1px 1px rgba(0,0,0,.4);
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	font-size: 1.25em;
	color: #e2e2e2;
	z-index: 100;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

/*
** $.tpClock() jQuery Plugin
** CSS Styling Version 1.0
** Size: Medium; Fixed-Position: Top;
** Designed by Triadi Prabowo
*/
.tp-clock-wrapper {
	display: block;
	position: absolute;
	top: 15px;
	margin-left: 45%;
	z-index: 10;	
	line-height: 3em;	
	padding: 1em 2em;
	border-radius: 10px;
}

.tp-clock-txt {
	padding: 0;
	margin: 0;
	color: #fff;
}

/* 
** AngularJS ngDialog Styling 
** Version 1.0
** Size: Medium, Large;
** Designed by Triadi Prabowo
*/
.tp-modal-wrapper {
	background: #111;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin: 0 auto;
	margin-top: 5%;
	-webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: 2px 2px 1px 1px rgba(0,0,0,.4);
	box-shadow: 2px 2px 1px 1px rgba(0,0,0,.4);
}

.tp-modal-wrapper.medium {
	width: 60%;
}

.tp-modal-wrapper.large {
	width: 90%;
}

.tp-modal-inner {
	padding: 2em;
}

.tp-modal-separator {
	margin: 1em 0;
	display: block;
	height: 1px;
}

/* Text */
.tp-modal-content h1 {
	font-size: 2.25em;
	line-height: 2em;
	border-bottom: 4px dashed #333;
}

.tp-modal-content p {
	line-height: 2em;
	margin: .75em 0 .5em;
}

.tp-modal-closeicon {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 10px 0 10px;
	min-width: 70px;
	padding: .5em .5em .5em .75em;
	background: #0092A5;
	text-align: center;
	color: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}

.tp-modal-closeicon:hover {
	background: #005864;	
	-webkit-box-shadow: inset 0 0 13px rgba(0,0,0,.7);
	-moz-box-shadow: inset 0 0 13px rgba(0,0,0,.7);
	box-shadow: inset 0 0 13px rgba(0,0,0,.7);
}

.tp-modal-submit {
	margin: 1.25em 0 .5em;
	padding: .5em 0;
	width: 100%;
	display: block;
	position: relative;	
	overflow: hidden;
}

.tp-modal-submit.right {
	text-align: right;
}

.tp-modal-submit.left {
	text-align: left;
}

.tp-modal-submit.middle {
	text-align: center;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	.tp-modal-wrapper.medium {
		width: 80%;
	}

	.tp-modal-wrapper.large {
		width: 95%;
	}
}

/* 
** tpBootstrap 
** Styling => input[text] // textbox
** Version 1.0
** Dark Theme
*/

/* Placeholder Text Color */
::-webkit-input-placeholder {
   color: #777;
}

:-moz-placeholder {
   color: #777;  
}

::-moz-placeholder { 
   color: #777;  
}

:-ms-input-placeholder {  
   color: #777;  
}

/* Default or Normal */
input[type=text], 
input[type=password], 
input[type=email], 
.tp-txtbox {
	outline: 0;
	border: 2px solid #111;
	background: #222;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 1em;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin: 0;
	width: 100%; /* Textbox Size */
	color: #999;
	box-shadow: inset 0px 0px 20px rgba(0,0,0,.2);
	margin-bottom: .35em;
}

input[type=text]:hover, 
input[type=password]:hover, 
input[type=email]:hover, 
.tp-txtbox:hover {
	border: 2px solid rgba(66,66,66,.325);
}

input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
.tp-txtbox:focus {
	border: 2px solid rgba(60,60,60,.225);
}

/* Style 1 */
input[type=text].nobg, 
input[type=password].nobg, 
input[type=email].nobg, 
.tp-txtbox.nobg {
	background: transparent;	
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	margin-top: -.5em;
	border-bottom: 2px solid #333;
	border-radius: 0;
	box-shadow: none;	
	padding: 1em 0;
}

input[type=text].nobg:hover, 
input[type=password].nobg:hover, 
input[type=email].nobg:hover, 
.tp-txtbox.nobg:hover {
	border-bottom: 2px solid #0092A5;	
}

input[type=text].nobg:focus, 
input[type=password].nobg:focus, 
input[type=email].nobg:focus, 
.tp-txtbox.nobg:focus {
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: 2px solid #005864;
}


/*
** tpBootstrap
** Styling => Textarea
** Version 1.0
** Type: normal, nobg, alt;
*/

textarea, .tp-txtarea {
	outline: 0;
	border: 2px solid #111;
	background: #222;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 1em;
	line-height: 1.6em;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin: 0;
	width: 100%; /* Textbox Size */
	color: #999;
	box-shadow: inset 0px 0px 20px rgba(0,0,0,.2);
	margin-bottom: .35em;
}

textarea:hover, .tp-txtarea:hover {
	border: 2px solid rgba(66,66,66,.325);
}

textarea:focus, .tp-txtarea:focus {
	border: 2px solid rgba(60,60,60,.225);
}

textarea.nobg, .tp-txtarea.nobg {
	background: transparent;
	box-shadow: none;
	border-left: 2px solid rgba(51,51,51,1);
	border-top: transparent;
	border-right: transparent;
	border-bottom: 2px solid rgba(51,51,51,1);
	border-radius: 0;
	padding: .75em 1em 1em;
	resize: none;
}

textarea.nobg:hover, .tp-txtarea.nobg:hover {
	border-left: 2px solid rgba(0,146,165,.9);
	border-top: transparent;
	border-right: transparent;
	border-bottom: 2px solid rgba(0,146,165,.9);
}

textarea.nobg:focus, .tp-txtarea.nobg:focus {
	border-left: 2px solid rgba(0,88,100,.8);
	border-top: transparent;
	border-right: transparent;
	border-bottom: 2px solid rgba(0,88,100,.8);
}

/* 
** tpBootstrap 
** Hover Animation
** Version 1.0 
** Initial Build
*/
.tp-hvr-opacity {
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
	.tp-hvr-opacity:hover {
		opacity: .9;
	}

/*
** tpMobileMenu
** Mobile Menu
** Version 1.0
** Initial Build
*/
.tp-mobile-menu-wrapper {
	width: 300px;
	height: 100%;
	position: fixed;
	display: none;	
	z-index: 40;
	top: 0;
	background: #111;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,.5);
}

.tp-mobile-menu {
	padding: 1em 0;
	overflow: hidden;
}

.tp-mobile-menu .title {
	font-size: 1.9em;
	padding-bottom: .75em;
	border-bottom: 3px dashed #222;
	text-align: center;
}

.tp-mobile-menu ul {
	list-style-type: none;
	display: block;
	width: 100%;
	cursor: pointer;	
}

.tp-mobile-menu ul li {
	font-family: 'Lobster', sans-serif;
	background-color: transparent;
	line-height: 2em;
	display: block;
	padding: .35em .5em;
	margin-left: -.5em;
	text-align: left;
	font-size: 1.35em;	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.tp-mobile-menu ul li:hover {
	background-color: rgba(33,33,33,.6);	
}
.tp-mobile-menu ul li:hover a {
	color: #0092A5;
}

.show-nav .tp-preload-canvas {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.tp-mobile-menu-toggle-wrapper {
	position: relative;
	display: block;		
	top: 0;
	left: 300px;
	z-index: 41;
}

.tp-mobile-menu-toggle {
	position: fixed;
	top: 10px;
	left: 15px;
	border-radius: 9px;
	box-shadow: 2px 2px 1px 2px rgba(0,0,0,.2);
	padding: 1em 1em 1em 1.25em;
	line-height: 1em;
	background: rgba(50,50,50,.6);
	color: #fff;
	font-size: 1.25em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
}

/*
** Style => Mobile styling
** Optimize for Tablet / Smartphone
** Universal Style
*/

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	.tp-header-rc {
		display: none;
	}

	#tp-backtop {
		right: 10px;
	}

	.floatright {
		float: none;
		display: block;
		text-align: center;
		margin-bottom: 15px;
	}

	.floatleft {
		float: none;
		display: block;
		text-align: center;
	}

	.tp-content-inner {
		width: 80%;
		padding: 0;
		overflow: hidden;
		text-align: left;
		position: relative;
	}

	.tp-content-logo img {
		width: 200px;
		height: 200px;
	}

	.tp-content-inner .floatleft {
		text-align: right;
	}

	.imgnormal {
		right: 0;
		text-align: center;
	}
}